{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

<main>
    <section id="aboutus">
        <div class="container py-5 about-boxes">
            <div class="row text-center">
                <div class="col-12">
                    <div class="about-box m-3 p-4 p-lg-5 border ">
                        <h3 class="text-dark "> Rejestracja przebiegła pomyślnie </h3>
                        <p class="about-icon text-dark "><i class="fas fa-check"></i></p>
                        <p class="text-dark"> Sprawdź pocztę, aby aktywować konto.</p>
                    </div>
                </div> 
            </div>
        </div>
    </section>
</main>

{% endblock %}