{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

<main>
    <div class="container">
        <div class="row  mt-5 pt-5">
            <div class="col-8 offset-2 col-lg-6 offset-lg-3 mt-5">
                <h1 class="text-center"> Zresetuj hasło </h1>
                <div class="form">
                    <form method="post" action="/password/request-reset">
                        <div class="row my-4">
                            <label for="inputEmail" class="col-sm-4 col-form-label">
                                <span class="bold"> Adres email: </span>
                            </label>
                            <div class="col-sm-8 ">
                                <input type="email" id="inputEmail" name="email" placeholder="Adres email" autofocus
                                    required />
                            </div>

                            <div class="pt-4 text-center">
                                <button type="submit" class="btn btn-primary col-4"> Akceptuj </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}