{% extends "base.html" %}

{% block title %} Settings {% endblock %}

{% block footer %}

<script>
   let expenseCategoriesAfterEncode = "{{ expenseCategories|json_encode|e('js') }}";

   $(document).ready(function () {
      let expenseCategories = JSON.parse(expenseCategoriesAfterEncode);

      for (let i = 1; i < expenseCategories.length + 1; i++) {

         $('#limitCheckBox' + i).change(function () {
            if ($('#limitCheckBox' + i).prop('checked') == true) {
               $('#limitValue' + i).removeAttr('disabled');
            } else {
               $('#limitValue' + i).attr('disabled', 'disabled');
            }
         })
      }
   })
</script>

<!-- footer -->
<footer class="bg-dark text-light footer fixed-bottom">
   <p class="py-3  mb-0 text-center"> Wszelkie prawa zastrzeżone &copy; 2021 Copyright <i
         class="fas fa-wallet orange-color px-3"></i><span class="orange-color">MyWallet</span> </p>
</footer>

{% endblock footer %}

{% block body %}

<div class="container">
   <div class="row  m-5 pt-5">
      <div class="col-10 offset-1 col-lg-8 offset-lg-2 mt-5">
         <h1 class="text-center"> Ustawienia </h1>
         <div class="form">
            <div class="accordion accordion-flush " id="accordionFlushExample">


               <!-- START  USER accordion item -->
               <!-- START  USER accordion item -->

               <div class="accordion-item p-2 shadow  bg-warning">
                  <h2 class="accordion-header" id="flush-headingFour">
                     <button class="accordion-button collapsed dropdown-in-view bg-warning shadow-lg" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                        aria-controls="flush-collapseFour">
                        <div> <span class="fw-bold"> Użytkownik </span> </div>
                     </button>
                  </h2>

                  <div id="flush-collapseFour" class="accordion-collapse collapse " aria-labelledby="flush-headingFour"
                     data-bs-parent="#accordionFlushExample">

                     <div class="accordion-body  p-1">

                        <!-- Edit  User Name Modal  -->

                        <div
                           class="d-flex justify-content-between align-items-center m-3 shadow-lg border-bottom border-end border-1 border-secondary rounded-end rounded-3">

                           <div class="me-auto p-2"> Imię: &nbsp; {{ user.name|capitalize }} </div>

                           <div class="m-2 px-3">
                              <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal"
                                 data-bs-target="#editUserNameModal">
                                 <i class="far fa-edit m-2" title="Edytuj"></i>
                              </button>
                           </div>



                           <div class="modal fade" id="editUserNameModal" data-bs-keyboard="false" tabindex="-1"
                              aria-labelledby="editUserNameModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">

                                    <form action="/Profile/editUserName" method="post">

                                       <div class="modal-header">
                                          <h5 class="modal-title" id="editUserNameModalLabel"> <span
                                                class="dropdown-in-view fw-bold"> Edycja
                                                nazwy użytkownika </span> </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>

                                       <div class="modal-body text-start">
                                          <label class="w-100 p-2" for="newUserName"> Podaj nową
                                             nazwę użytkownika
                                          </label>
                                          <input class="w-100 px-2" name="newUserName" id="newUserName" type="text"
                                             required>
                                       </div>

                                       <div class="modal-footer">

                                          <button type="button" class="btn btn-secondary dropdown-in-view"
                                             data-bs-dismiss="modal">
                                             Anuluj </button>
                                          <button type="submit" class="btn btn-primary dropdown-in-view"> Zastosuj
                                          </button>
                                       </div>

                                    </form>

                                 </div>
                              </div>
                           </div>
                        </div>

                        <!-- Edit  User EMAIL Modal  -->

                        <div
                           class="d-flex justify-content-between align-items-center m-3 shadow-lg border-bottom border-end border-1 border-secondary rounded-end rounded-3">

                           <div class="me-auto p-2"> Email: &nbsp; {{ user.email }} </div>

                           <div class="m-2 px-3">
                              <button type="button" class="btn btn-primary mx-2 " data-bs-toggle="modal"
                                 data-bs-target="#editUserEmailModal">
                                 <i class="far fa-edit m-2" title="Edytuj"></i>
                              </button>
                           </div>



                           <div class="modal fade" id="editUserEmailModal" data-bs-keyboard="false" tabindex="-1"
                              aria-labelledby="editUserEmailModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">

                                    <form action="/Profile/editUserEmail" method="post">

                                       <div class="modal-header">
                                          <h5 class="modal-title" id="editUserEmailModalLabel"> <span
                                                class="dropdown-in-view fw-bold"> Edycja
                                                adresu email użytkownika </span> </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>

                                       <div class="modal-body text-start">
                                          <label class="w-100 p-2" for="email"> Podaj nowy email
                                          </label>
                                          <input class="w-100 px-2" name="email" id="email" type="text" required>
                                          <input type="hidden" name="name" value="{{ user.name }}">
                                       </div>

                                       <div class="modal-footer">

                                          <button type="button" class="btn btn-secondary dropdown-in-view"
                                             data-bs-dismiss="modal">
                                             Anuluj </button>
                                          <button type="submit" class="btn btn-primary dropdown-in-view"> Zastosuj
                                          </button>
                                       </div>

                                    </form>

                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>

                     <!-- CHange PASSWORD -->

                     <div class="d-flex justify-content-center ">

                        <button type="submit" class="btn btn-secondary m-3 w-50  dropdown-in-view "
                           data-bs-toggle="modal" data-bs-target="#changePassword"> Zmień hasło
                        </button>

                        <div class="modal fade" id="changePassword" data-bs-keyboard="false" tabindex="-1"
                           aria-labelledby="changePasswordLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">

                                 <form action="/Password/requestReset" method="POST">

                                    <div class="modal-header">

                                       <h5 class="modal-title" id="changePasswordLabel"> <span
                                             class="dropdown-in-view fw-bold"> Zmień hasło </span>
                                       </h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>

                                    </div>

                                    <div class="modal-body text-start">

                                       <label class="w-100 p-2" for="deleteAllBalance"> Akceptacja oznacza proces zmiany
                                          hasła - kontynuować ?
                                       </label>

                                    </div>

                                    <div class="modal-footer">
                                       <input type="hidden" name="email" value="{{ user.email }}">
                                       <button type="button" class="btn btn-secondary dropdown-in-view"
                                          data-bs-dismiss="modal">
                                          NIE </button>
                                       <button type="submit" class="btn btn-danger dropdown-in-view"> TAK
                                       </button>
                                    </div>

                                 </form>

                              </div>
                           </div>
                        </div>

                     </div>

                     <!-- REMOVE all expenses and incomes -->

                     <div class="d-flex justify-content-center ">

                        <button type="submit" class="btn btn-secondary m-3 w-50  dropdown-in-view"
                           data-bs-toggle="modal" data-bs-target="#deleteAllBalanceSheet"> Usuń wszystkie przychody i
                           wydatki
                        </button>

                        <div class="modal fade" id="deleteAllBalanceSheet" data-bs-keyboard="false" tabindex="-1"
                           aria-labelledby="deleteAllBalanceSheetLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">

                                 <form action="/Profile/deleteAllUserBalanceSheet" method="post">

                                    <div class="modal-header">

                                       <h5 class="modal-title" id="deleteAllBalanceSheetLabel"> <span
                                             class="dropdown-in-view fw-bold"> Usuń wszystkie przychody i wydatki
                                          </span>
                                       </h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>

                                    </div>

                                    <div class="modal-body text-start">

                                       <label class="w-100 p-2" for="deleteAllBalance"> Czy na pewno usunąć
                                          wszystkie przychody i wydatki ?
                                       </label>

                                    </div>

                                    <div class="modal-footer">
                                       <input type="hidden" name="deletedUserId" value="{{ user.id }}">
                                       <button type="button" class="btn btn-secondary dropdown-in-view"
                                          data-bs-dismiss="modal">
                                          NIE </button>
                                       <button type="submit" class="btn btn-danger dropdown-in-view"> TAK
                                       </button>
                                    </div>

                                 </form>

                              </div>
                           </div>
                        </div>

                     </div>


                     <div class="d-flex justify-content-center ">

                        <button type="submit" class="btn btn-danger m-3 w-50  dropdown-in-view" data-bs-toggle="modal"
                           data-bs-target="#deleteUserAccount"> Usuń moje konto </button>

                        <div class="modal fade" id="deleteUserAccount" data-bs-keyboard="false" tabindex="-1"
                           aria-labelledby="deleteUserAccountLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">

                                 <form action="/Profile/removeUserAccount" method="post">

                                    <div class="modal-header">

                                       <h5 class="modal-title" id="deleteUserAccountLabel"> <span
                                             class="dropdown-in-view fw-bold"> Usuń konto użytkownika </span> </h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>

                                    </div>

                                    <div class="modal-body text-start">
                                       <label class="w-100 p-2" for="deleteUserAccount"> Czy na pewno Chcesz usunąć
                                          swoje konto?
                                       </label>
                                    </div>

                                    <div class="modal-footer">
                                       <input type="hidden" name="deletedUserId" value="{{ user.id }}">
                                       <button type="button" class="btn btn-secondary dropdown-in-view"
                                          data-bs-dismiss="modal">
                                          NIE </button>
                                       <button type="submit" class="btn btn-danger dropdown-in-view"> TAK
                                       </button>
                                    </div>

                                 </form>

                              </div>
                           </div>
                        </div>

                     </div>



                  </div>

               </div>

               <!-- END  USER accordion item -->


               <!-- Payment method accordion item -->
               <!-- Payment method accordion item -->

               <div class="accordion-item p-2 shadow bg-warning ">
                  <h2 class="accordion-header " id="flush-headingThree">
                     <button class="accordion-button collapsed dropdown-in-view bg-warning shadow-lg" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                        <div> <span class="fw-bold"> Sposoby płatności </span>
                        </div>
                     </button>
                  </h2>

                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                     data-bs-parent="#accordionFlushExample">

                     <div class="accordion-body my-0 p-1">

                        {% for paymentMethod in paymentMethods %}
                        {% if paymentMethod.name != "Inne" %}
                        <div
                           class="d-flex justify-content-between align-items-center m-3 shadow-lg border-bottom border-end border-1 border-secondary rounded-end rounded-3">

                           <div class="me-auto bd-highlight m-2">
                              {{ paymentMethod.name }}
                           </div>

                           <div class="m-2 px-3 d-flex">
                              <button type="button" class="btn btn-primary mx-2 " data-bs-toggle="modal"
                                 data-bs-target="#editPaymentModal{{ loop.index }}">
                                 <i class="far fa-edit m-2" title="Edytuj"></i>
                              </button>
                              <button type="button" class="btn btn-danger pr-5" data-bs-toggle="modal"
                                 data-bs-target="#deletePaymentModal{{ loop.index }}">
                                 <i class="fas fa-trash-alt m-2" title="Usuń"></i>
                              </button>
                           </div>

                           <!-- Edit payment method Modal  -->

                           <div class="modal fade" id="editPaymentModal{{ loop.index }}" data-bs-keyboard="false"
                              tabindex="-1" aria-labelledby="editPaymentModal{{ loop.index }}Label" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">

                                    <form action="/Profile/editCategoryPayment" method="post">

                                       <div class="modal-header">
                                          <h5 class="modal-title" id="editPaymentModal{{ loop.index }}Label"> <span
                                                class="dropdown-in-view fw-bold"> Edycja
                                                sposobu płatności </span> </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>

                                       <div class="modal-body text-start">
                                          <label class="w-100 p-2" for="newPaymentName{{ loop.index }}"> Podaj nową
                                             nazwę metody płatności
                                          </label>
                                          <input class="w-100 px-2 paymentMethodInput" name="newPaymentName"
                                             id="newPaymentName{{ loop.index }}" type="text" required>
                                       </div>

                                       <div class="modal-footer">
                                          <input type="hidden" name="editedPaymentId" value="{{ paymentMethod.id }}">
                                          <button type="button" class="btn btn-secondary dropdown-in-view"
                                             data-bs-dismiss="modal">
                                             Anuluj </button>
                                          <button type="submit" class="btn btn-primary dropdown-in-view"> Zastosuj
                                          </button>
                                       </div>

                                    </form>

                                 </div>
                              </div>
                           </div>

                           <!-- Delete payment method Modal  -->

                           <div class="modal fade" id="deletePaymentModal{{ loop.index }}" tabindex="-1"
                              aria-labelledby="deletePaymentModal{{ loop.index }}Label" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">

                                    <form action="/Profile/deletePaymentCategory" method="post">

                                       <div class="modal-header">
                                          <h5 class="modal-title" id="deletePaymentModal{{ loop.index }}Label"> <span
                                                class="fw-bold dropdown-in-view ">
                                                Usuń kategorię </span> </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>

                                       <div class="modal-body text-start">
                                          <p class="w-100 p-2">Czy usunąć <span class="fw-bold">
                                                {{ paymentMethod.name }} </span> ?</p>
                                          <input type="hidden" name="deletedPaymentId" value="{{ paymentMethod.id }}">
                                          <input type="hidden" name="deletedPaymentUserId" value="{{ user.id }}">
                                       </div>

                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary dropdown-in-view"
                                             data-bs-dismiss="modal">
                                             Anuluj </button>
                                          <button type="submit" class="btn btn-primary dropdown-in-view"> Usuń
                                          </button>
                                       </div>

                                    </form>
                                 </div>
                              </div>
                           </div>

                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for paymentMethod in paymentMethods %}

                        {% if paymentMethod.name == "Inne" %}
                        <div
                           class="d-flex justify-content-between align-items-center m-3 shadow-lg border-bottom border-end border-1 border-secondary rounded-end rounded-3">
                           <div class="m-2"> <span class="dropdown-in-view"> {{ paymentMethod.name }}
                              </span>
                           </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div class="d-flex justify-content-center ">
                           <button type="button" class="btn btn-secondary m-3 w-50  dropdown-in-view"
                              data-bs-toggle="modal" data-bs-target="#addNewPaymentCategory"> Dodaj nową
                              kategorię</button>
                        </div>

                        <!-- Modal Add payment method Category -->

                        <div class="modal fade" id="addNewPaymentCategory" data-bs-backdrop="static"
                           data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewPaymentCategoryLabel"
                           aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">

                                 <form action="/Profile/addNewPaymentCategory" method="post">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="addNewPaymentCategoryLabel"> <span class="fw-bold">
                                             Nowa kategoria </span> </h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body text-start">
                                       <label class="w-100 p-2" for="newPaymentCategory"> Podaj nazwę nowej
                                          kategorii </label>
                                       <input class="w-100 px-2" name="newPaymentCategory" id="newPaymentCategory"
                                          type="text" required>
                                    </div>

                                    <div class="modal-footer m-2">
                                       <button type="button" class="btn btn-secondary btn-lg"
                                          data-bs-dismiss="modal">Anuluj</button>
                                       <button type="submit" class="btn btn-primary">Dodaj</button>
                                    </div>
                                 </form>

                              </div>
                           </div>
                        </div>

                     </div>
                  </div>

               </div>

               <!-- END -- Payment method accordion item -->


               <!-- Income category accordion item -->
               <!-- Income category accordion item -->

               <div class="accordion-item p-2 shadow  bg-warning">
                  <h2 class="accordion-header " id="flush-headingOne">
                     <button class="accordion-button collapsed dropdown-in-view bg-warning shadow-lg" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                        <div> <span class="fw-bold"> Kategorie przychodów</span>
                        </div>
                     </button>
                  </h2>

                  <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">

                     <div class="accordion-body my-0 p-1 ">

                        {% for incomeCategory in incomeCategories|sort  %}
                        {% if incomeCategory.name != "Inne" %}

                        <div
                           class="d-flex justify-content-between align-items-center m-3 shadow-lg border-bottom border-end border-1 border-secondary rounded-end rounded-3">

                           <div class="me-auto p-2">
                              {{ incomeCategory.name }}
                           </div>

                           <div class="m-2 px-3 d-flex">
                              <button type="button" class="btn btn-primary mx-2 " id="income2" data-bs-toggle="modal"
                                 data-bs-target="#editIncomeModal{{ loop.index }}">
                                 <i class="far fa-edit m-2" title="Edytuj"></i>
                              </button>
                              <button type="button" class="btn btn-danger pr-5" data-bs-toggle="modal"
                                 data-bs-target="#deleteIncomeModal{{ loop.index }}">
                                 <i class="fas fa-trash-alt m-2" title="Usuń"></i>
                              </button>
                           </div>

                           <!-- Edit  category income Modal  -->

                           <div class="modal fade" id="editIncomeModal{{ loop.index }}" data-bs-keyboard="false"
                              tabindex="-1" aria-labelledby="editIncomeModal{{ loop.index }}Label" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">

                                    <form action="/Profile/editCategoryIncome" method="post">

                                       <div class="modal-header">
                                          <h5 class="modal-title" id="editIncomeModal{{ loop.index }}Label"> <span
                                                class="dropdown-in-view fw-bold">Edycja
                                                kategorii przychodu </span> </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>

                                       <div class="modal-body text-start">
                                          <label class="w-100 p-2" for="newIncomeName{{ loop.index }}"> Podaj nową
                                             nazwę kategorii przychodu
                                          </label>
                                          <input class="w-100 px-2 " name="newIncomeName"
                                             id="newIncomeName{{ loop.index }}" type="text" required>
                                       </div>

                                       <div class="modal-footer">
                                          <input type="hidden" name="editedIncomeId" id="income3"
                                             value="{{ incomeCategory.id }}">
                                          <button type="button" class="btn btn-secondary dropdown-in-view"
                                             data-bs-dismiss="modal">
                                             Anuluj </button>
                                          <button type="submit" class="btn btn-primary dropdown-in-view"> Zastosuj
                                          </button>
                                       </div>

                                    </form>

                                 </div>
                              </div>
                           </div>

                           <!-- Delete category income Modal  -->

                           <div class="modal fade" id="deleteIncomeModal{{ loop.index }}" tabindex="-1"
                              aria-labelledby="deleteIncomeModal{{ loop.index }}Label" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">

                                    <form action="/Profile/deleteCategoryIncome" method="post">

                                       <div class="modal-header">
                                          <h5 class="modal-title" id="deleteIncomeModal{{ loop.index }}Label"> <span
                                                class="fw-bold dropdown-in-view ">
                                                Usuń kategorię </span> </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>

                                       <div class="modal-body text-start">
                                          <p class="w-100 p-2">Czy usunąć <span class="fw-bold">
                                                {{ incomeCategory.name }} </span> ?</p>
                                          <input type="hidden" name="deletedIncomeCategoryId"
                                             value="{{ incomeCategory.id }}">
                                          <input type="hidden" name="deletedIncomeCategoryUserId" value="{{ user.id }}">
                                       </div>

                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary dropdown-in-view"
                                             data-bs-dismiss="modal">
                                             Anuluj </button>
                                          <button type="submit" class="btn btn-primary dropdown-in-view"> Usuń
                                          </button>
                                       </div>

                                    </form>
                                 </div>
                              </div>
                           </div>

                        </div>
                        {% endif %}

                        {% endfor %}

                        {% for incomeCategory in incomeCategories %}
                        {% if incomeCategory.name == "Inne" %}
                        <div
                           class="d-flex justify-content-between align-items-center m-3 shadow-lg border-bottom border-end border-1 border-secondary rounded-end rounded-3">

                           <div class="me-auto p-2"> <span class="dropdown-in-view">
                                 {{ incomeCategory.name }}
                              </span>
                           </div>

                        </div>
                        {% endif %}
                        {% endfor %}


                        <div class="d-flex justify-content-center ">
                           <button type="button" class="btn btn-secondary m-3 w-50  dropdown-in-view"
                              data-bs-toggle="modal" data-bs-target="#addNewIncomeCategory"> Dodaj nową
                              kategorię</button>
                        </div>

                        <!-- Modal Add Income Category -->
                        <div class="modal fade" id="addNewIncomeCategory" data-bs-backdrop="static"
                           data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewIncomeCategoryLabel"
                           aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">

                                 <form action="/Profile/addNewIncomeCategory" method="post">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="addNewIncomeCategoryLabel"> <span class="fw-bold">
                                             Nowa kategoria </span> </h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body text-start">
                                       <label class="w-100 p-2" for="newIncomeCategory"> Podaj nazwę nowej
                                          kategorii </label>
                                       <input class="w-100 px-2" name="newIncomeCategory" id="newIncomeCategory"
                                          type="text" required>
                                    </div>

                                    <div class="modal-footer m-2">
                                       <button type="button" class="btn btn-secondary btn-lg"
                                          data-bs-dismiss="modal">Anuluj</button>
                                       <button type="submit" class="btn btn-primary">Dodaj</button>
                                    </div>
                                 </form>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
               <!--END -- Income category accordion item -->

               <!-- Expense category accordion item -->
               <!-- Expense category accordion item -->

               <div class="accordion-item p-2 shadow bg-warning ">
                  <h2 class="accordion-header " id="flush-headingTwo">
                     <button class="accordion-button collapsed dropdown-in-view bg-warning shadow-lg" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        <div> <span class="fw-bold"> Kategorie wydatków </span> </div>
                     </button>
                  </h2>

                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">

                     <div class="accordion-body my-0 p-1">

                        {% for expenseCategory in expenseCategories %}
                        {% if expenseCategory.name != "Inne" %}

                        <div
                           class="d-flex justify-content-between align-items-center m-3 shadow-lg border-bottom border-end border-1 border-secondary rounded-end rounded-3">

                           <div class="m-0 p-0 text-start">

                              <div class="me-auto bd-highlight m-2"> {{ expenseCategory.name }} </div>

                              {% if expenseCategory.expense_limit != 0 %}

                              <div class="m-2 fs-4"> Limit: {{ expenseCategory.expense_limit }} </div>

                              {% endif %}
                           </div>

                           <div class="m-2 px-3 d-flex">
                              <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal"
                                 data-bs-target="#editExpenseModal{{ loop.index }}">
                                 <i class="far fa-edit m-2" title="Edytuj"></i>
                              </button>
                              <button type="button" class="btn btn-danger pr-5" data-bs-toggle="modal"
                                 data-bs-target="#deleteExpenseModal{{ loop.index }}">
                                 <i class="fas fa-trash-alt m-2" title="Usuń"></i>
                              </button>
                           </div>

                           <!-- Edit  category expense Modal  -->

                           <div class="modal fade" id="editExpenseModal{{ loop.index }}" tabindex="-1"
                              aria-labelledby="editExpenseModal{{ loop.index }}Label" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">

                                    <form action="/Profile/editCategoryExpense" method="post">

                                       <div class="modal-header">
                                          <h5 class="modal-title" id="editExpenseModal{{ loop.index }}Label"> <span
                                                class="dropdown-in-view fw-bold"> Edycja
                                                kategorii wydatku </span> </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>

                                       <div class="modal-body text-start">

                                          <label class="w-100 p-2" for="newExpenseName{{ loop.index }}"> Podaj nową
                                             nazwę kategorii wydatku: {{ expenseCategory.name }} </label>
                                          <input class="w-100 px-2" name="newExpenseName"
                                             id="newExpenseName{{ loop.index }}" type="text">
                                          <input type="hidden" name="editedExpenseId" value="{{ expenseCategory.id }}">

                                          <!-- limit checkbox  -->

                                          <label class="w-100"><input type="checkbox" name="checkbox"
                                                id="limitCheckBox{{ loop.index }}" for="limitValue{{ loop.index }}">
                                             &nbsp;
                                             Ustaw miesięczny limit</label>
                                          <input type="number" class="w-100 " name="limitValue"
                                             id="limitValue{{ loop.index }}" min="0" step="1.0" disabled>

                                       </div>

                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary dropdown-in-view"
                                             data-bs-dismiss="modal">
                                             Anuluj </button>
                                          <button type="submit" class="btn btn-primary dropdown-in-view"> Zastosuj
                                          </button>
                                       </div>

                                    </form>

                                 </div>
                              </div>
                           </div>

                           <!-- Delete category expense Modal  -->
                           <div class="modal fade" id="deleteExpenseModal{{ loop.index }}" tabindex="-1"
                              aria-labelledby="deleteExpenseModal{{ loop.index }}Label" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">

                                    <form action="/Profile/deleteCategoryExpense" method="post">

                                       <div class="modal-header">
                                          <h5 class="modal-title" id="deleteExpenseModal{{ loop.index }}Label"> <span
                                                class="fw-bold dropdown-in-view ">
                                                Usuń kategorię </span> </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                             aria-label="Close"></button>
                                       </div>

                                       <div class="modal-body text-start">
                                          <p class="w-100 p-2">Czy usunąć
                                             {{ expenseCategory.name }} ?</p>
                                          <input type="hidden" name="deletedExpenseCategoryId"
                                             value="{{ expenseCategory.id }}">
                                          <input type="hidden" name="deletedExpenseCategoryUserId"
                                             value="{{ user.id }}">

                                       </div>

                                       <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary dropdown-in-view"
                                             data-bs-dismiss="modal">
                                             Anuluj </button>
                                          <button type="submit" class="btn btn-primary dropdown-in-view"> Usuń
                                          </button>
                                       </div>

                                    </form>
                                 </div>
                              </div>
                           </div>

                           {% endif %}

                        </div>

                        {% endfor %}

                        {% for expenseCategory in expenseCategories %}
                        {% if expenseCategory.name == "Inne" %}
                        <div
                           class="d-flex justify-content-between align-items-center m-3 shadow-lg border-bottom border-end border-1 border-secondary rounded-end rounded-3">

                           <div class="m-2 fs-5 "> <span class="dropdown-in-view"> {{ expenseCategory.name }}
                              </span>
                           </div>

                        </div>
                        {% endif %}
                        {% endfor %}

                        <div class="d-flex justify-content-center ">
                           <button type="button" class="btn btn-secondary m-3 w-50  dropdown-in-view"
                              data-bs-toggle="modal" data-bs-target="#addNewExpenseCategory"> Dodaj nową
                              kategorię </button>
                        </div>

                        <!-- Modal Add Expense Category -->
                        <div class="modal fade" id="addNewExpenseCategory" data-bs-backdrop="static"
                           data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewExpenseCategoryLabel"
                           aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                 <form action="/Profile/addNewExpenseCategory" method="post">
                                    <div class="modal-header">
                                       <h5 class="modal-title" id="addNewExpenseCategoryLabel"> <span
                                             class="fw-bold dropdown-in-view ">
                                             Nowa kategoria </span></h5>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body text-start">

                                       <label class="w-100 p-2" for="newExpenseCategory"> Podaj nazwę nowej
                                          kategorii </label>
                                       <input class="w-100 px-2" name="newExpenseCategory" id="newExpenseCategory"
                                          type="text" required>
                                       <p class="errorMessageBox"> </p>

                                    </div>

                                    <div class="modal-footer m-2">
                                       <button type="button" class="btn btn-secondary btn-lg"
                                          data-bs-dismiss="modal">Anuluj</button>
                                       <button type="submit" class="btn btn-primary">Dodaj</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>
               <!-- END -- Expense category accordion item -->

            </div>
         </div>
      </div>
   </div>
</div>


{% endblock %}