{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}

<!-- main -->

<main>
    <div class="container">
        <div class="row  pt-5">
            <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center mt-5 ">
                <h1> Logowanie </h1>

                <!-- form -->
                <form class="form" action="/login/create" method="post">

                    <!-- email -->
                    <div class="input-group w-100 my-5">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-envelope" viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                            </svg>
                        </span>
                        <input type="email" id="inputEmail" name="email" class="form-control py-2"
                            placeholder="Adres email" aria-label="email" autofocus value="{{ email }}">

                    </div>

                    <!-- password -->

                    <div class="input-group w-100 my-5">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-key" viewBox="0 0 16 16">
                                <path
                                    d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                        </span>
                        <input type="password" id="inputPassword" name="password" class="form-control"
                            placeholder="Hasło" aria-label="Hasło">
                    </div>

                    <!-- checkbox -->

                    <div class="input-group w-100 my-5">
                        <div class="col-6">
                            <label>
                                <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"
                                    {% endif %} /> Zapamiętaj mnie
                            </label>
                        </div>
                        <div class="col-6">
                            <label>
                                <a href="/password/forgot"> Zapomniałeś hasło? </a>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary my-button"> Zaloguj się </button>

                </form>
            </div>
        </div>
    </div>
</main>




{% endblock %}