{% extends 'base.html' %}

{% block title %}Add income{% endblock %}


{% block footer %}
<!-- select2.org - choose income category -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="/js/addIncome.js"></script>

<!-- footer -->
<footer class="bg-dark text-light footer fixed-bottom">
    <p class="py-3  mb-0 text-center"> Wszelkie prawa zastrzeżone &copy; 2021 Copyright <i
            class="fas fa-wallet orange-color px-3"></i><span class="orange-color">MyWallet</span> </p>
</footer>

{% endblock footer %}


{% block body %}

<main>
    <div class="container">
        <div class="row  mt-5 pt-5">
            <div class="col-8 offset-2 col-lg-6 offset-lg-3 mt-5">
                <h1 class="text-center"> Dodaj przychód </h1>
                <div class="form">

                    <form method="post" action="/AddIncome/new" id="incomeForm">

                        <!-- amount -->
                        <div class="row my-4">
                            <label for="amount" class="col-sm-2 col-form-label">
                                <span class="fw-bold"> Wartość: </span>
                            </label>
                            <div class="col-sm-8 offset-sm-2">
                                <input type="number" name="amount" class="form-control" id="amount" step="0.01"
                                    min="0.01" required>
                            </div>
                        </div>
                        <div id="amount_validate"></div>

                        <!-- date_of_income -->
                        <div class="row my-4">
                            <label for="date_of_income" class="col-sm-2 col-form-label"> <span class="fw-bold">
                                    Data:</span>
                            </label>
                            <div class="col-sm-8 offset-sm-2">
                                <input type="date" name="date_of_income" class="form-control" id="date_of_income"
                                    value="" required>
                            </div>
                        </div>
                        <div id="inputDate_validate"></div>

                        <!-- category of income-->
                        <div class="row my-4">
                            <label for="income_category" class="col-sm-2 col-form-label"> <span class="fw-bold">
                                    Kategoria:</span>
                            </label>
                            <div class="col-sm-8 offset-sm-2">
                                <div class="col-10 col-md-6 m-auto py-3" style="width:auto;">
                                    <select name="income_category" id="income_category" required>
                                        <option value="0" selected> Wybierz kategorię przychodu
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="income_category_validate"></div>

                        <!-- comment -->
                        <div class="row my-4">
                            <label for="floatingTextarea" class="col-sm-2 col-form-label">
                                <span class="fw-bold"> Komentarz: </span>
                            </label>
                            <div class="col-sm-8 offset-sm-2">
                                <textarea class="form-control dropdown-in-view" id="floatingTextarea"
                                    name="income_comment" maxlength="99"> </textarea>
                            </div>
                        </div>

                        <!-- submit or reset -->
                        <div class="pt-4 text-center">
                            <button type="submit" class="btn btn-primary col-4"> Dodaj </button>
                            <input type="reset" class="btn btn-danger col-4" value="Anuluj">
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</main>


{% endblock body %}