{% extends 'base.html' %}

{% block title %}Add income{% endblock %}


{% block body %}


<main>
    <section id="aboutus">
        <div class="container py-5 about-boxes">
            <div class="row text-center">
                <div class="col-12">
                    <div class="about-box m-3 p-4 p-lg-5 border ">
                        <h3 class="text-dark "> Przychód został dodany </h3>
                        <p class="about-icon text-dark "><i class="fas fa-check"></i></p>
                        <p class="text-dark"> Kliknij <a href="/AddIncome"> aby dodać kolejny przychód </a> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock %}