{% extends 'base.html' %}

{% block title %}Add expense{% endblock %}


{% block footer %}



<!-- remember Date -->
<script src="/js/rememberDateExpense.js"></script>

<!-- select2.org - choose expense category -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
    $(document).ready(function () {

        $('#expenseForm').validate({
            rules: {
                amount: 'required',
                date_of_expense: 'required',
                expense_category: {
                    min: 1
                },
                payment_method: {
                    min: 1
                }
            },
            messages: {
                amount: {
                    required: 'Podaj wartośc wydatku',
                    number: "Podaj poprawną liczbę",
                },
                date_of_expense: 'Podaj datę',
                expense_category: 'Wybierz kategorię wydatku',
                payment_method: 'Wybierz sposób płatności'
            },

            errorPlacement: function (error, element) {
                var name = $(element).attr("name");
                error.appendTo($("#" + name + "_validate"));
            },
        });


        $("#expense_category").select2({
            ajax: {
                url: "/AddExpense/chooseExpenseCategory",
                type: "post",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            }
        });


        $("#payment_method").select2({
            ajax: {
                url: "/AddExpense/choosePaymentMethod",
                type: "post",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            }
        });
    });

    $(document).ready(function () {
        $("#payment_method").select2({
            ajax: {
                url: "/AddExpense/choosePaymentMethod",
                type: "post",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term // search term
                    };
                },
                processResults: function (response) {
                    return {
                        results: response
                    };
                },
                cache: true
            }
        });

    });
</script>

{% endblock %}


{% block body %}

<!-- main -->

<main>
    <div class="container pb-5 mb-4">
        <div class="row  mt-5 pt-5">
            <div class="col-8 offset-2 col-lg-6 offset-lg-3  mt-5">
                <h1 class="text-center"> Dodaj wydatek </h1>
                <div class="form">

                    <!-- value -->
                    <form method="post" action="/AddExpense/new" id="expenseForm">

                        <div class="row my-4">
                            <label for="amount" class="col-sm-2 col-form-label"> <span class="bold"> Wartość:</span>
                            </label>
                            <div class="col-sm-8 offset-sm-2 text-right">
                                <input type="number" class="form-control" id="amount" name="amount" step="0.01"
                                    min="0.01" value="" required>
                            </div>
                        </div>
                        <div id="amount_validate"></div>

                        <!-- date  -->
                        <div class="row my-4">
                            <label for="date_of_expense" class="col-sm-2 col-form-label"> <span class="bold"> Data:
                                </span>
                            </label>
                            <div class="col-sm-8 offset-sm-2">
                                <input type="date" class="form-control" id="date_of_expense" name="date_of_expense"
                                    value="" required>
                            </div>
                        </div>
                        <div id="date_of_expense_validate"></div>

                        <!-- method -->

                        <div class="row my-4">
                            <label for="payment_method" class="col-sm-2 col-form-label"> <span class="bold">
                                    Metoda:</span>
                            </label>
                            <div class="col-sm-8 offset-sm-2">
                                <select name="payment_method" id="payment_method" required>
                                    <option value="0" selected> Wybierz sposób płatności
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </option>
                                </select>
                            </div>
                        </div>
                        <div id="payment_method_validate"></div>

                        <!-- category   -->

                        <div class="row my-4">
                            <label for="expense_category" class="col-sm-2 col-form-label"> <span class="bold">
                                    Kategoria:</span>
                            </label>
                            <div class="col-sm-8 offset-sm-2">
                                <select name="expense_category" id="expense_category" required>
                                    <option value="0" selected> Wybierz kategorię wydatku
                                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </option>
                                </select>
                            </div>
                        </div>
                        <div id="expense_category_validate"></div>

                        <!-- comment -->

                        <div class="row my-4">
                            <label for="floatingTextarea" class="col-sm-2 col-form-label">
                                <span class="bold"> Komentarz: </span>
                            </label>
                            <div class="col-sm-8 offset-sm-2">
                                <textarea class="form-control" id="floatingTextarea" name="expense_comment"
                                    maxlength="100"> </textarea>
                            </div>
                        </div>

                        <div class="pt-4 text-center">
                            <button type="submit" class="btn btn-primary col-4"> Dodaj </button>
                            <input type="reset" class="btn btn-danger col-4" value="Anuluj">
                        </div>

                    </form>

                </div>


            </div>
        </div>
    </div>

</main>


{% endblock %}