<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="oszczędzanie, budżet domowy, portfel, zarządzanie pieniędzmi, wydatki, przychody, bilans, saldo">
    <meta name="description" content="Strona główna w MyWallet">
    <title>{% block title %} MyWallet {% endblock %}</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/034bc2d4cc.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- My style sheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>

    <!-- nav -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container text-center">
            <a class="navbar-brand px-5" href="#"> <i class="fas fa-wallet orange-color px-3"></i> <span
                    class="orange-color">MyWallet</span> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon p-3"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                {% if current_user %}

                <div class="navbar-nav ">
                    <a class="nav-link active" aria-current="page" href="/home"> Strona główna </a>
                    <a class="nav-link" href="/addIncome"> Dodaj przychód </a>
                    <a class="nav-link" href="/addExpense"> Dodaj wydatek </a>

                    <div class="dropdown">
                        <a class=" dropdown-toggle nav-link" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Przeglądaj bilans
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item dropdown-in-view " href="/balanceSheet/show/current_month">
                                    Bieżący miesiąc </a></li>
                            <li><a class="dropdown-item dropdown-in-view" href="/balanceSheet/show/previous_month">
                                    Poprzedni
                                    miesiąc </a></li>
                            <li><a class="dropdown-item dropdown-in-view" href="/balanceSheet/show/current_year">
                                    Bieżący rok
                                </a></li>
                            <li><a class="dropdown-item dropdown-in-view" href="/balanceSheet/selectedPeriod">
                                    Wybrany
                                    okres </a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a class=" dropdown-toggle nav-link" href="profile/execute" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Ustawienia
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item dropdown-in-view " href="#"> Edytuj dane </a></li>
                            <li><a class="dropdown-item dropdown-in-view" href="#"> Edytuj kategorie </a></li>
                            <li><a class="dropdown-item dropdown-in-view" href="#"> Usuń wpisy </a></li>
                        </ul>
                    </div>
                    <a class="nav-link" href="/logout"> Wyloguj się </a>
                </div>

                {% else %}

                <div class="navbar-nav ">
                    <a class="nav-link" href="/login"> Zaloguj się </a>
                    <a class="nav-link" href="/signup"> Zarejestruj się </a>
                </div>

                {% endif %}

            </div>
        </div>
    </nav>

    <!-- Message  -->

    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}" style="text-align: center">
        {{ message.body }}
    </div>

    {% endfor %}


    {% block body %}
    {% endblock %}

    <!-- jquery validation -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>

    <!-- bootstrap require code below -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous">
    </script>

    {% block footer %}

    <!-- footer -->

    <footer class="bg-dark text-light footer fixed-bottom">
        <p class="py-3  mb-0 text-center"> Wszelkie prawa zastrzeżone &copy; 2021 Copyright <i
                class="fas fa-wallet orange-color px-3"></i><span class="orange-color">MyWallet</span> </p>
    </footer>

    {% endblock %}

</body>

</html>